<nav class="navbar navbar-expand-sm ">

    <app-header-component class="w-100"></app-header-component>
</nav>

<div class="row  m-0 bgimg">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 border-bottom-1 sideBtn">
        <app-user-side-component></app-user-side-component>

    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 userGroup">


        <h3 style="color: antiquewhite;">Ask Query here..!!</h3>
        
        <div class="form-group">
            <input class="form-control" type="text" [(ngModel)]="query.emp_id" placeholder="Enter user-id">
        </div>
        <div class="form-group">
            <input class="form-control" type="text"  [(ngModel)]="query.comment" placeholder="Enter Query">
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success btnCreatgrp" (click)="askQuery()">Send</button>
            </div>

            <div class="col">
                <button type="button" class="btn btn-danger btnResetgrp"  (click)="reset()">Reset</button>
            </div>


        </div>

    </div>
</div>