
<nav class="navbar">
    <ul class="navbar-nav justify-content-between sidebar-list">
        <li class="nav-item">
            <button type="button" class="btn btn-lg btn-outline-secondary btnUserList" routerLink="/create-user"><span
                    style="color: antiquewhite;text-align: center;">Create User</span></button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-lg btn-outline-secondary btnUserList" routerLink="/userList"><span
                    style="color: antiquewhite;text-align: center;"> User Details</span></button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-group-vertical btn btn-lg btn-outline-secondary btnGroup"
                routerLink="/create-group"><span style="color: antiquewhite;text-align: center;"> Create
                    Group</span></button>
        </li>


        <li class="nav-item">
            <button type="button" class="btn btn-lg btn-outline-secondary btnGrpList" routerLink="/groupList"><span
                    style="color: antiquewhite;text-align: center;"> Group Detail</span></button>

        </li>

        <li class="nav-item">
            <button type="button" class="btn btn-lg btn-outline-secondary btnUserGroupList"
                routerLink="/userGroup"><span style="color: antiquewhite;text-align: center;">Add member</span></button>
        </li>

        <!-- <li class="nav-item">
            <button type="button" class="btn btn-lg btn-outline-secondary btnUserGroupList"
                routerLink="/userGroupList"><span style="color: antiquewhite;"> User Group List</span></button>
        </li> -->
        <li class="nav-item">
            <button type="button" class="btn btn-lg btn-outline-secondary btnMemeberDetails"
                routerLink="/userGroupInfo"><span style="color: antiquewhite;text-align: center;"> Member
                    Details</span></button>
        </li>
        <!-- <li class="nav-item">
            <button type="button" class="btn btn-lg btn-outline-secondary btnMemeberDetails"
                routerLink="/createFile"><span style="color: antiquewhite;text-align: center;"> Create
                    files</span></button>
        </li> -->
    </ul>
</nav>